@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

:root {
  --font-size: 16px;
  --background: 0 0% 100%;
  --foreground: 0 0% 15%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 15%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 15%;
  --primary: 240 89% 5%;
  --primary-foreground: 0 0% 100%;
  --secondary: 240 10% 96%;
  --secondary-foreground: 240 89% 5%;
  --muted: 240 9% 93%;
  --muted-foreground: 240 4% 46%;
  --accent: 220 13% 91%;
  --accent-foreground: 240 89% 5%;
  --destructive: 350 76% 47%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 90%;
  --input: 0 0% 100% / 0;
  --input-background: 240 8% 96%;
  --switch-background: 220 7% 81%;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: 0 0% 71%;
  --chart-1: 25 100% 57%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 60 70% 58%;
  --radius: 0.625rem;
  --sidebar: 0 0% 98%;
  --sidebar-foreground: 0 0% 15%;
  --sidebar-primary: 240 89% 5%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 0 0% 97%;
  --sidebar-accent-foreground: 0 0% 21%;
  --sidebar-border: 0 0% 92%;
  --sidebar-ring: 0 0% 71%;
}

.dark {
  --background: 0 0% 15%;
  --foreground: 0 0% 98%;
  --card: 0 0% 15%;
  --card-foreground: 0 0% 98%;
  --popover: 0 0% 15%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 21%;
  --secondary: 0 0% 27%;
  --secondary-foreground: 0 0% 98%;
  --muted: 0 0% 27%;
  --muted-foreground: 0 0% 71%;
  --accent: 0 0% 27%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62% 50%;
  --destructive-foreground: 0 86% 67%;
  --border: 0 0% 27%;
  --input: 0 0% 27%;
  --ring: 0 0% 44%;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --chart-1: 240 100% 63%;
  --chart-2: 160 60% 45%;
  --chart-3: 60 70% 58%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
  --sidebar: 0 0% 21%;
  --sidebar-foreground: 0 0% 98%;
  --sidebar-primary: 240 100% 63%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 0 0% 27%;
  --sidebar-accent-foreground: 0 0% 98%;
  --sidebar-border: 0 0% 27%;
  --sidebar-ring: 0 0% 44%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-switch-background: var(--switch-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */
@layer base {
  :where(:not(:has([class*=' text-']), :not(:has([class^='text-'])))) {
    h1 {
      font-size: var(--text-2xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h3 {
      font-size: var(--text-lg);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h4 {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    p {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }

    label {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    button {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    input {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }
  }
}

html {
  font-size: var(--font-size);
}
